---
import BaseLayout from '../layouts/BaseLayout.astro';

import Hero from '../components/Hero.astro';
import Portfolio from '../components/Portfolio.astro';
---

<BaseLayout title="About | ECHO AI TALK" description="About | ECHO AI TALK">
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero
        title="About"
        tagline="tempor incididunt ut labore et dolore magna"
      /><Hero title="Organizers" align="start" titleSize="small" />

      <div class="container">
        <Portfolio
          name="incididunt"
          organization="Shanghai AI Laboratory"
          imgSrc="/assets/s1e02Avatar.jpg"
        /><Portfolio
          name="incididunt"
          organization="Shanghai AI Laboratory"
          imgSrc="/assets/s1e02Avatar.jpg"
        /><Portfolio
          name="incididunt"
          organization="Shanghai AI Laboratory"
          imgSrc="/assets/s1e02Avatar.jpg"
        /><Portfolio
          name="incididunt"
          organization="Shanghai AI Laboratory"
          imgSrc="/assets/s1e02Avatar.jpg"
        /><Portfolio
          name="incididunt"
          organization="Shanghai AI Laboratory"
          imgSrc="/assets/s1e02Avatar.jpg"
        /><Portfolio
          name="incididunt"
          organization="Shanghai AI Laboratory"
          imgSrc="/assets/s1e02Avatar.jpg"
        /><Portfolio
          name="incididunt"
          organization="Shanghai AI Laboratory"
          imgSrc="/assets/s1e02Avatar.jpg"
        /><Portfolio
          name="incididunt"
          organization="Shanghai AI Laboratory"
          imgSrc="/assets/s1e02Avatar.jpg"
        />
      </div>
      <Hero title="Advisory Committee" align="start" titleSize="small" /><div
        class="container"
      >
        <Portfolio
          name="Wanli Ouyang"
          organization="Shanghai AI Laboratory"
          imgSrc="/assets/Committee01.jpg"
        />
      </div>
    </main>
  </div>

  <style>
    .about {
      display: flex;
      flex-direction: column;
      gap: 3.5rem;
    }
    .container {
      display: flex;
      gap: 2rem;
      flex-wrap: wrap;
    }

    img {
      margin-top: 1.5rem;
      border-radius: 1.5rem;
      box-shadow: var(--shadow-md);
    }

    section {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      color: var(--gray-200);
    }

    .section-title {
      font-size: var(--text-xl);
      color: var(--gray-0);
    }

    .content {
    }

    .content :global(a) {
      text-decoration: 1px solid underline transparent;
      text-underline-offset: 0.25em;
      transition: text-decoration-color var(--theme-transition);
    }

    .content :global(a:hover),
    .content :global(a:focus) {
      text-decoration-color: currentColor;
    }

    @media (min-width: 50em) {
      .about {
      }

      .about > :global(:first-child) {
      }

      section {
        display: contents;
        font-size: var(--text-lg);
      }
    }
  </style>
</BaseLayout>
