---
import { getCollection } from "astro:content";

import BaseLayout from "../layouts/BaseLayout.astro";

import PortfolioPreview from "../components/PortfolioPreview.astro";
import Hero from "../components/Hero.astro";

// const Projects = (await getCollection("work"))
//   .filter((project) => project.data.publishDate) // 确保 publishDate 存在
//   .sort((a, b) => new Date(b.data.publishDate).valueOf() - new Date(a.data.publishDate).valueOf());

// const Projects2 = (await getCollection("work2"))
//   .filter((project) => project.data.publishDate) // 确保 publishDate 存在
//   .sort((a, b) => new Date(b.data.publishDate).valueOf() - new Date(a.data.publishDate).valueOf());
const Projects = (await getCollection("work"))
  .filter((project) => project.data.publishDate) // 确保 publishDate 存在
  .filter((project) => project.id.startsWith("S1")) // 通过名字前缀 "S1" 区分
  .sort(
    (a, b) =>
      new Date(b.data.publishDate).valueOf() -
      new Date(a.data.publishDate).valueOf(),
  );

const Projects2 = (await getCollection("work"))
  .filter((project) => project.data.publishDate) // 确保 publishDate 存在
  .filter((project) => project.id.startsWith("S2")) // 通过名字前缀 "S2" 区分
  .sort(
    (a, b) =>
      new Date(b.data.publishDate).valueOf() -
      new Date(a.data.publishDate).valueOf(),
  );
---

<BaseLayout title="Talks" description="Learn about Talks">
  <div class="stack gap-10">
    <main class="wrapper stack gap-2">
      <!-- talks-s2 区域（最新内容） -->
      <section class="season2-section">
        <Hero title="Season 2" align="start" />
        <div class="container">
          {Projects2.map((project) => <PortfolioPreview project={project} />)}
        </div>
      </section>

      <!-- talks-s1 区域（已有内容） -->
      <section>
        <Hero title="Season 1" align="start" />
        <div class="container">
          {Projects.map((project) => <PortfolioPreview project={project} />)}
        </div>
      </section>
    </main>
    <div class="pagination-wrapper">
      <a class="page-number pagination" href={`/work`}>1</a>
    </div>
  </div>
  <style>
    .container {
      display: flex;
      gap: 1rem;
      flex-wrap: wrap;
      margin-top: 1rem;
    }
    .pagination-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .pagination-wrapper a {
      text-decoration: none;
      color: var(--accent-regular);
      margin: 0 0.7rem;
      font-size: var(--text-base);
    }

    .pagination {
      padding: 0.5rem 1rem;
      border-radius: 0.375rem;
    }
    .pagination:hover {
      transition:
        color var(--theme-transition),
        background-color var(--theme-transition);
      color: var(--gray-100);
      background-color: var(--accent-subtle-overlay);
    }

    .season2-section {
      margin-bottom: 30px; /* 或其他合适的间隙大小 */
    }
  </style>
</BaseLayout>
