---
interface Props {
  title: string;
  tagline?: string;
  align?: 'start' | 'center';
  titleSize?: 'small';
}

const { align = 'center', tagline, title, titleSize } = Astro.props;
---

<div class:list={['hero stack gap-4', align]}>
  <div class="stack gap-2">
    <h1 class:list={['title', titleSize]}>{title}</h1>
    {tagline && <p class="tagline">{tagline}</p>}
  </div>
  <slot />
</div>

<style>
  .hero {
    font-size: var(--text-lg);
    text-align: center;
  }

  .title,
  .tagline {
    max-width: 42ch;
    margin-inline: auto;
    text-align: justify;
  }

  .title {
    font-size: var(--text-3xl);
    color: var(--gray-0);
  }
  .small {
    font-size: var(--text-xl);
    max-width: 100%;
  }

  @media (min-width: 65em) {
    .hero {
      font-size: var(--text-xl);
    }

    .start {
      text-align: start;
    }

    .start .title,
    .start .tagline {
      margin-inline: unset;
    }

    .title {
      font-size: var(--text-5xl);
    }
    .small {
      font-size: var(--text-xl);
      max-width: 100%;
    }
  }
</style>
