---
interface Props {
  name: string | undefined;
  organization: string | undefined;
  imgSrc: string | undefined;
  personPageLink: string | undefined;
}
const { name, organization, imgSrc, personPageLink } = Astro.props;
---

<a class="link" href={personPageLink}>
  <img src={imgSrc} loading="lazy" decoding="async" />
  <div class="name">{name}</div>
  <div class="organization">{organization}</div></a
>

<style>
  .link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    width: 12rem;
  }
  img {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
  }
  .name {
    font-size: var(--text-xl);
    color: var(--gray-100);
  }
  .organization {
    color: var(--gray-400);
    font-size: var(--text-base);
  }
  @media (min-width: 50em) {
  }
</style>
